{% extends "base.html" %}

{% block content %}

<div class="center-page">

    <div class="auth-card">

        <h1>Leave a Review</h1>

        <p>Review "{{ event.title }}"</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Submit Review
            </button>
        </form>

        <a href="{% url 'event_details' event.id %}" class="link">
            Back to Event
        </a>

    </div>

</div>

{% endblock %}