{% extends "base.html" %}

{% block content %}

<div class="page-container">

    <div class="event-card">

        <h1>{{ event.title }}</h1>

        <p>
            <strong>Description:</strong><br>
            {{ event.description }}
        </p>

        <p>
            <strong>Category:</strong>
            {{ event.get_category_display }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ event.location }}
        </p>

        <p>
            <strong>Date:</strong>
            {{ event.date_time }}
        </p>

        <p>
            <strong>Maximum participants:</strong>
            {{ event.max_participants }}
        </p>

        <p>
            <strong>Organizer:</strong>
            {{ event.organizer.username }}
        </p>

        <p>
            <strong>Adults only:</strong>

            {% if event.is_adults_only %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>

        {% if request.user == event.organizer %}

        <div class="action-buttons">

            <a href="/events/{{ event.id }}/edit/" class="btn btn-primary">
                Edit Event
            </a>

            <a href="/events/{{ event.id }}/delete/" class="btn btn-danger">
                Delete Event
            </a>

        </div>

        {% endif %}


        {% if request.user == event.organizer %}

            <hr>

            <h2>Applications</h2>

            {% for application in event.applications.all %}

                <div class="card">

                    <p>
                        <strong>{{ application.applicant.username }}</strong>
                    </p>

                    <p>
                        Status:
                        {{ application.get_status_display }}
                    </p>

                    {% if application.status == "pending" %}

                        <a href="/applications/accept/{{ application.id }}/"
                            class="btn btn-primary">
                            Accept
                        </a>

                        <a href="/applications/reject/{{ application.id }}/"
                            class="btn btn-outline">
                            Reject
                        </a>

                    {% endif %}

                </div>

            {% empty %}

                <p>No applications yet.</p>

            {% endfor %}

        {% endif %}

        {% if request.user == event.organizer %}
            <p><strong>You are the organizer of this event.</strong></p>
        {% elif user_application %}
            <p><strong>Your application status:</strong> {{ user_application.get_status_display }}</p>
        {% else %}
            <a href="/applications/apply/{{ event.id }}/" class="btn btn-primary">
                Apply
            </a>
        {% endif %}

        <a href="/events/" class="btn btn-outline">
            Back
        </a>

    </div>

</div>

{% endblock %}